html {
  font-size: 12pt;
}
body {
  font-family: "Barlow", sans-serif;
  /* color: #365b6d; */
  /* background-color: #f2f1ec; */
}

header {
  /* color: #f2f1ec; */
  color: white;
}
.header-row {
  width: 100%;
}
.pic {
  width: 10rem;
  max-width: 18rem;

  img {
    border-radius: 50%;
  }
}
.title {
  width: fit-content;
  h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  p {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

section {
  padding: 2rem 0 0 0;
}
hr {
  width: 120px;
  text-align: left;
  margin-left: 0;
}

.my-contacts div {
  margin-bottom: 0.2rem;
}
.hard-skills div div {
  margin-bottom: 0.2rem;
}
.professional-experience .company {
  margin-top: 0.2rem;
}
.professional-experience .date {
  margin-bottom: 0.2rem;
}

.show-on-print {
  display: none;
}

footer {
  height: 2rem;
  text-align: center;
  color: white;
}

@media screen and (min-width: 768px) {
  header {
    height: 12rem;
  }
  .pic {
    width: 100%;
  }
  .title {
    h1 {
      font-size: 3.5rem;
    }
    p {
      font-size: 1.5rem;
    }
  }
  .col-right {
    padding-left: 4rem;
  }
  .my-contacts {
    padding: 5rem 0 0 0;
  }
}

@media screen and (min-width: 992px) {
  header {
    height: 15rem;
  }
  .title {
    h1 {
      font-size: 4rem;
    }
    p {
      font-size: 2rem;
    }
  }
  .my-contacts {
    padding: 8rem 0 0 0;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    h1 {
      font-size: 5rem;
    }
    p {
      font-size: 2.2rem;
    }
  }
}

@media print {
  @page {
    size: A4; /* DIN A4 standard, Europe */
    margin: 0 !important;
  }
  html,
  body {
    width: 210mm;
    height: 297mm;
    /* height: 282mm; */
    /* background: #FFF;
      overflow: visible; */
  }
  html {
    font-size: 10pt;
  }
  body {
    /* padding-top: 15mm; */
  }
  header {
    height: 12rem;
    flex: 1 0 auto;
  }
  .pic {
    width: 12rem;
  }
  .title {
    h1 {
      font-size: 3.5rem;
    }
    p {
      font-size: 1.5rem;
    }
  }
  .col-right {
    padding-left: 4rem;
  }
  .my-contacts {
    padding: 5rem 0 0 0;
  }
  hr {
    margin: 0.5rem 0.5rem 0.5rem 0;
  }
  section {
    padding: 1.5rem 0 0 0;
  }
  section h2 {
    font-size: 16pt;
  }
  .hide-on-print {
    display: none;
  }
  .show-on-print {
    display: block;
  }
  footer {
    display: none;
  }
}
